/* ----------------- BOTTOM TAB ----------------- */

#bottom-tab {
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 12vh;
        background: #F8F8F8;
        bottom: 0;

        display: inline-flex;
        align-items: center;
        justify-content: space-between;

        box-shadow: 0 50px 50px 60px rgba(0, 0, 0, 0.1);
}

#bottom-tab>div {
        height: 60%;
        width: 100%;
        margin: 0 2vw;
}

#bottom-tab button {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
}

#bottom-tab button span {
        font-family: 'Encode Sans';
        font-weight: 500;
        font-size: 1.8vh;
        text-align: center;
        color: #3BA6E8;
}

#bottom-tab button svg {
        height: 50%;
        color: #3BA6E8;
        fill: #3BA6E8;
}

#bottom-tab button.disabled span, #bottom-tab button.disabled svg{
        color: #a0a5ad;
        fill: #a0a5ad;

        transition: all 0.1s;
}

#bottom-tab button:active.disabled svg, #bottom-tab button:active.disabled span{
        color: #7bbde6;
        fill: #7bbde6;
}

#bottom-tab button, #bottom-tab button:active{
        background: none;
        border: none;
}

#bottom-tab svg {
        height: 4vh;
}