body {
    background: white;
}

/* Product Conteiner */

.product-image {
    width: 385px;
    height: 379px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-left: 22%;
    margin-top: 25px;
}

.product-title {
    height: 25px;
    left: 13px;
    top: 392px;

    font-weight: 400;
    font-size: 20px;

    color: #878787;
}

.product-price {
    font-weight: 700;
    font-size: 24px;
    color: #65BEF5;
}

.product-market {
    width: 283px;
    height: 19px;
    left: 13px;
    top: 478px;

    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: #5FD900;
}

.detalhes-produto {
    height: 20vh;
    border-radius: 1.5vh;
    padding: 0% 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Encode Sans';
    font-style: normal;

    transition: all 0.15s;
}

.product {
    padding: 1vh;
}