body {
    background: white;
}

/* Product Conteiner */

#detalhes-produto {
    padding-bottom: 14vh;
}

/* PRODUCT IMAGE ------------------------- */

.product-image-area{
    position: relative;
    background: #EDEDED;
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image-area .product-image {
    width: 90%;
    height: 90%;    
    object-fit: contain;
    mix-blend-mode: multiply;
}

/* PRODUCT INFO ------------------------- */

.product-info {
    position: relative;
    margin: 0;
    padding: 2vh 5vw;
}

.product-info .product-title {
    width: 80%;
    font-weight: 400;
    font-size: 2.6vh;
    color: #6e6e6e;

    margin: 0.5vh 0;
}

.product-info .product-price {
    width: 70%;
    font-weight: 700;
    font-size: 4.6vh;
    color: #65BEF5;

    margin: 0.5vh 0;
}

.product-info .product-market {
    width: 100%;
    font-weight: 400;
    font-size: 2.0vh;
    line-height: normal;
    color: #5FD900;

    margin: 0.5vh 0;
}
.product-info .product-market.distance {
    font-weight: 400;
    color: #318aff;
    font-size: 1.8vh;
    margin-top: 3vh;
    text-align: center;
}

.product-info .map-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product-info .map-button {
    background-color: #fdfeff;
    border-radius: 1.2vh;
    height: 6.5vh;
    padding: 1.0vh 3vw;
    margin: 0.5vh auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);

    transition: all 0.2s;
}
.product-info .map-button:active {
    background-color: #e0eeff;
    box-shadow: 0px 2px 14px rgba(57, 86, 180, 0.452);
}
.product-info .map-button img{
    height: 100%;
}

.product-info .map-button span{
    font-weight: 600;
    font-size: 2.2vh;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    color: #318aff;
}

/* FAV BUTTON ------------------------- */

#fav-button {
    position: absolute;    
    right: 2vw;
    top: 1vh;
    width: 8vh;
    height: 8vh;
    background: none;
    border: none;
}

#fav-button svg{
    width: 100%;
    height: 100%;
    fill: rgba(114, 114, 114, 0.1);
    
    stroke:rgba(155, 155, 155, 0.2);
    stroke-width: 1px;
    stroke-linejoin: round;

    transition: all 0.2s;
}
#fav-button.active svg{
    fill: rgb(255, 240, 35);
    filter: drop-shadow(1px 2px 3px rgb(0 0 0 / 0.4));
    stroke:rgba(219, 168, 0, 0.5);

    transition: all 0.2s;
}
#fav-button.active svg g{
    filter: none;
}

#fav-button svg:active{
    filter: drop-shadow(1px 2px 4px rgb(0 0 0 / 0.6));
    transition: all 0.2s;
}

/* BACK BUTTON ------------------------- */
#top-header{
    background-color: rgba(255, 252, 252, 0.0);
    position: fixed;
    width: 100%;
    height: 6vh;
    padding: 1vh 4vw;
    z-index: 10;
    transition: all 0.2s;
}
#top-header.scrolled{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -25px 40px 25px rgba(0, 0, 0, 0.25);
}
#back-button{
    position: relative;
    width: 15%;
    height: 100%;
}
#back-button svg{
    position: absolute;
    left: 0;
    height: 100%;

    fill: #65BEF5;
    transform: rotate(-90deg);
}