body {
        background: white;
        user-select: none; /* disable selection for all objects*/
}

.background {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
}

#search-area {
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 10vh;
        /* background: linear-gradient(323.79deg, #0072B0 43.38%, #65BEF5 92.17%); */
        background: linear-gradient(0, #0A90DA 0%, #55B6F0 100%), #65BEF5;

        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vh 6% 0 6%;

        box-shadow: 0 -50px 50px 50px rgba(0, 0, 0, 0.4);
}

#search-area .search-bar {
        width: 85%;
        height: 50%;
        background: white;
        border-radius: 10px;
}

#search-area .search-bar input,
#search-area .search-bar input:focus {
        width: 100%;
        height: 100%;
        text-align: center;
        border: none;
        outline: none;
        border-bottom: none;
        box-shadow: none;

        font-family: 'Encode Sans';
        font-size: 2.2vh;
        font-weight: 500;
        font-style: normal;
        color: #070821;
}

#search-area .search-bar input::placeholder {
        color: #1e1e25;
}

#search-area .button-area {
        width: 12%;
        height: 40%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
}

#search-area .button-area .search-button {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
}

#search-area .button-area .search-button .search-icon {
        color: white;
        fill: white;
        transition: all 0.2s;
}

#search-area .button-area .search-button:active .search-icon {
        color: rgb(209, 209, 209);
        fill: rgb(209, 209, 209);
}

/* ----------------- LISTA RESULTADO ----------------- */

#resultado {
        background-color:  rgba(0, 0, 0, 0.00);
        
        z-index: 0;
        position: absolute;
        padding-top: 12vh;
        padding-bottom: 14vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}

#resultado #lista {
        z-index: 0;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-evenly;
        row-gap: 3vh;
}

/* ----------------- ORDER  ----------------- */

#resultado .order{
        width: 90%;
        height: 3.5vh;
        margin-bottom: 3vh;

        font-family: 'Encode Sans';
        font-style: normal;
}

#resultado .order button{   
        background: none;     
        width: 25%;
        height: 100%;

        font-size: 1.6vh;
        font-weight: 500;
        color: #5c5c5c;

        border: 0.2vh solid #5c5c5c;
        border-radius: 2vh;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        transition: all 0.1s;
}

#resultado .order button svg{
        width: 15%;
        height: 100%;
        color: #5c5c5c;
        fill: #5c5c5c;
}

#resultado .order button:active{   
        background: #0000001a;
}

#order-window{
        z-index: 15;
        position: fixed;
        width: 100%;
        height: 100%;
        bottom: 0;
        transition: all 0.5s;
}

#order-window .background{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
}

#order-window .window{
        position: absolute;
        width: 100%;
        height: 25vh;
        padding: 20% 0;
        background: #ffffff;
        bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        box-shadow: 0 50px 120px 60px rgba(0, 0, 0, 0.5);

        transition: all 0.5s;
}

#order-window .window span{
        font-size: 3.2vh;
        font-weight: 500;
}

#order-window .window ul{
        width: 50%;
        text-align: center;
}

#order-window .window ul li{
        color: #65BEF5;
        font-size: 2.6vh;
        font-weight: 500;
        margin: 1vh 0;

        transition: all 0.2s;
}

#order-window .window ul li:active, #order-window .window ul li:hover{
        color: #349ddf;
}

#order-window .divider-line{
        background: rgb(0, 0, 0, 0.25);
        margin: 20px auto 15px auto;
        width: 30%;
        height: 8%;
        border-radius: 100vh;
}

#order-window.hidden{
        display: none;
}
#order-window.hidden .background{
        opacity: 0;
}
#order-window.hidden .window{
        height: 0vh;
}

/* ----------------- PRODUCT LIST ----------------- */

.product {
        height: 20vh;
        border-radius: 1.5vh;
        padding: 0% 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: 'Encode Sans';
        font-style: normal;

        transition: all 0.15s;
}

.product-image {
        width: 100%;
        max-height: 60%;
        object-fit: contain;
}

.product-price {
        font-size: 1.9vh;
        font-weight: 700;
}

.product-name {
        /* LIMIT TEXT TO 2 LINES AND ... */
        display: -webkit-box;
        overflow: hidden;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        /* ----- */

        font-size: 1.5vh;
        line-height: 1.8vh;
        font-weight: 500;
        
        color: #5c5c5c;
}

.product:hover{
        box-shadow: 0px 0px 3vh 0px rgba(0, 0, 0, 0.15);
}
.product:active{
        box-shadow: 0px 0px 3vh 0px rgba(0, 0, 0, 0.3);
}


/*  OBSOLETE
#resultado .search-item {
        background: linear-gradient(180deg, #65BEF5 5.21%, #06A1F5 100%);
        border-radius: 16px;
        width: 90%;
        height: 12vh;
        margin: 1vh auto;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 3vh;
        color: white;
        font-weight: 500;
} */

/* ----------------- INSTRUCTION ----------------- */

#resultado span.instruction {
        color: #65BEF5;
        width: 90%;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(2.6vh, 7vw, 4vh);
        text-align: center;
}

#resultado span.instruction>svg {
        color: #65BEF5;
        fill: #65BEF5;
        height: 2.5vh;
        width: auto;
}

/* ----------------- BOTTOM TAB ----------------- */


#bottom-tab {
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 12vh;
        background: #F8F8F8;
        bottom: 0;

        display: inline-flex;
        align-items: center;
        justify-content: space-between;

        box-shadow: 0 50px 50px 60px rgba(0, 0, 0, 0.1);
}

#bottom-tab>div {
        height: 60%;
        width: 100%;
        margin: 0 2vw;
}

#bottom-tab button {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
}

#bottom-tab button span {
        font-family: 'Encode Sans';
        font-weight: 500;
        font-size: 1.8vh;
        text-align: center;
        color: #3BA6E8;
}

#bottom-tab button svg {
        height: 50%;
        color: #3BA6E8;
        fill: #3BA6E8;
}

#bottom-tab button .disabled {
        color: #a0a5ad;
        fill: #a0a5ad;

        transition: all 0.1s;
}

#bottom-tab button:active .disabled {
        color: #7bbde6;
        fill: #7bbde6;
}

#bottom-tab button {
        background: none;
        border: none;
}

#bottom-tab button::active {
        background: none;
        border: none;
}

#bottom-tab svg {
        height: 4vh;
}