
/* ----------------- STORE LIST ----------------- */

#lista {
        width: 100%;
        padding-top: 6vh;
        padding-bottom: 16vh;

        display: grid;
        grid-template-columns: 85%;
        justify-content: space-evenly;
        row-gap: 5vh;
}

#lista .store {
        background-color: rgb(138, 210, 255);
        position: relative;
        width: 90%;
        margin: 0 auto;
        height: 11vh;
        border-radius: 2.5vh;
        outline: 0px solid rgba(0, 0, 0, 0.314);
        padding: 0 10;
        padding-right: 5%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'Encode Sans';
        font-style: normal;

        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.27);

        transition: all 0.15s;
}

#lista .store .info {
        width: 100%;
        height: 75%;
        padding: 0 10%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

#lista .store .info .store-name {
        width: 100%;
        font-size: 3.2vh;
        font-weight: 600;
        
        color: #12374d;
}



#lista .store .store-image-area {
        display: none;
        background-image: url("../../imgs/market-icon.png");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 1.5vh;
        aspect-ratio: 1;
        width: 25%;
        height: 90%;
        padding: 10px;
        margin: 0 2%;
}
#lista .store .store-image{        
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;        
}


#lista .store .location {
        width: 35%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 0.5vh;
}
#lista .store .location svg{
        height: 3vh;
        fill: #102f41;
}
#lista .store .location span{
        width: 100%;
        font-size: 1.8vh;
        font-weight: 500;
        text-align: center;
        
        color: #102f41;
}

#lista .store:active{
        box-shadow: 0px 0px 25px 0px rgba(0, 45, 112, 0.5);
        outline: 2px solid rgba(0, 31, 88, 0.4);
}
